version: '3.8'

services:
  db:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=library_db
      - MYSQL_USER=library_user
      - MYSQL_PASSWORD=library_password
      - MYSQL_ROOT_PASSWORD=root_password
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password

  web:
    build: .
    command: gunicorn library_project.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=True
      - SECRET_KEY=django-insecure-dev-key-change-in-production
      - DB_ENGINE=django.db.backends.mysql
      - DB_NAME=library_db
      - DB_USER=library_user
      - DB_PASSWORD=library_password
      - DB_HOST=db
      - DB_PORT=3306
    depends_on:
      - db

volumes:
  mysql_data:
